@import '../../../assets/scss/define';

page{
    @extend %h100;
    background-color: #eff4fa;
}
.wrap{
    @extend %df;
    @extend %df1;
    @extend %fdc;
    @extend %h100;
}

.head{
    @extend %df;
    @extend %bsb;
    height: j(450);
    background-color: #11b9ea;
    padding: 0 j(80);
}

.right{
    @extend %df1;
    padding-top: j(60);
}

.main{
    @extend %df;
    @extend %df1;
    //height: j(1000);
    padding: 0 j(80);
    margin-top: j(-100);
}
.content{
    @extend %df1;
    background-color: #f8f8fb;
    box-shadow: 0 j(10) j(10) j(2) rgba(0,0,0,.05);
}
