@import '../../assets/scss/define';

page{
    @extend %h100;
    background-color: #f2f2f2;
}
.wrap{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %oh;
}

.cell{
    @extend %df;
    @extend %aic;
    @extend %w100;
    @extend %bsb;
    padding: 0 j(80);
    height: j(160);
    background-color: #fff;
    border-bottom: j(1) solid #dedede;
    font-size: f(32);
    color: #333;
    &:active{
        background-color: #f2f2f2;
    }
}
