

function filterProductBases(value, ID) {
    for (var i = 0; i < value.length; i++) {
        if (value[i].ID === ID)
            return true;
    }
    return false;
}


function formatData (timestamp,format){
    if (!format) {
        format = "yyyy-MM-dd hh:mm:ss";
    }
    timestamp = parseInt(timestamp);
    var realDate = getDate(timestamp);
    function timeFormat(num) {
        return num < 10 ? '0' + num : num;
    }
    var date = [
        ["M+", timeFormat(realDate.getMonth() + 1)],
        ["d+", timeFormat(realDate.getDate())],
        ["h+", timeFormat(realDate.getHours())],
        ["m+", timeFormat(realDate.getMinutes())],
        ["s+", timeFormat(realDate.getSeconds())],
        ["q+", Math.floor((realDate.getMonth() + 3) / 3)],
        ["S+", realDate.getMilliseconds()],
    ];
    var reg1 = getRegExp("(y+)", "i").exec(format);
    // console.log(reg1[0]);
    if (reg1) {

        format = format.replace(reg1[1], (realDate.getFullYear() + '').substring(4 - reg1[1].length));
    }
    for (var i=0;i<date.length;i++) {
        var k = date[i][0];
        var v = date[i][1];

        var reg2 = getRegExp("(" + k + ")").exec(format);
        if (reg2) {
            format = format.replace(reg2[1], reg2[1].length == 1
                ? v : ("00" + v).substring(("" + v).length));
        }
    }
    return format;
}


function filterLastPlanTime (date) {
    if (!date) return '--/--/--';
    date = date.replace(getRegExp("[^0-9]", "ig"), '');
    return formatData(date, 'yyyy-MM-dd');
}

function filterStoreButtonShow (item, user, butKey) {
    var StoreStatus = item.StoreStatus;
    var Level = user.Level;
    if (Level === 'city') {
        if (StoreStatus === 1 || StoreStatus === 2)
            return butKey === 'see';
        return butKey === 'update';
    } else if (Level === 'region') {
        if (StoreStatus === 1)
            return butKey === 'examine';
        return butKey === 'examined';
    } else if (Level === 'root') {
        return butKey === 'see' || butKey === 'IsDele' || butKey === 'seePatrol';
    }
}

function filterLastPlanNum(num) {
    if (!num) num = 0;
    return '已通过巡店'+ num +'次';
}

module.exports = {
    filterLastPlanNum: filterLastPlanNum,
    filterStoreButtonShow: filterStoreButtonShow,
    filterProductBases: filterProductBases,
    filterLastPlanTime: filterLastPlanTime
};
